<h1>Doctors#index</h1>
<p>Find me in app/views/doctors/index.html.erb</p>

<ul>
<% @doctors.each do |doc| %>
   <li> <%= link_to doc.name, doctor_path(doc) %> </li>
   <li> Number of Patients: <%= doc.patient_count %> </li><br>
<% end %>
</ul>